streamlit==1.50.0
pandas
numpy
scikit-learn
matplotlib
opencv-python

# CPU-only PyTorch
torch==2.1.0+cpu
torchvision==0.16.0+cpu
torchaudio==2.1.0+cpu
-f https://download.pytorch.org/whl/torch_stable.html
